---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Quick WeatherReport">
	<div class="global-content-title">
		<h1>Developer info</h1>
	</div>
	<div class="content">
		<h3>Marcelo Andrés Mendoza</h3>
		<p>¡Thank you by stopping by! I am a FullStack MERN developer in training at UDD, Chile.</p>
		<p>For this project, i've used Astro Build, a Node.JS environment characterized by use modularization of components called <a href="https://docs.astro.build/en/getting-started/" target="_blank">Component Islands</a>, and it allows to diminish the size of the whole site loading only the fragments I need in each page.</p>
		<p>It also has client side javascript rendering content, replacing DIVs with IP and weather data, using API endpoints from <a href="https://ipapi.co/api/#introduction" target="_blank">IPAPI.com</a> and <a href="https://open-meteo.com/en/docs" target="_blank">Open Meteo</a> forecast website. Note that endpoints are only for free use, so it has limited rates.</p>
		<p>After adding precise geolocation via user device, i need to show anyway the location name to the user, so i used the API from <a href="https://geocode.maps.co">Geocode Maps</a> to reverse geocoding, that is the process to get a human readable address from GPS coordinates.</p>
		<h3>What does the app do... technically speaking</h3>
		<p>When loading, it ask permission to get precise coordinates from your device's gps or geolocation data. If is not granted, or not available, it tries to get the location via IP. Also, the app stores the obtained location data, so the next time the page loads, search first for that on local storage. You can override this data by just clicking the button 'Update'.</p>
		<h3>Links</h3>
		<div class="link-list">
			<a href="https://github.com/MarceloAndresMendoza/weather-report" target="_blank">This project's source</a>
			<a href="https://github.com/MarceloAndresMendoza" target="_blank">My GitHub</a>
			<a href="https://www.linkedin.com/in/marcelo-mendoza-7a554a245" target="_blank">My LinkedIn</a>
		</div>
	</div>
</MainLayout>

<style>
	.content {
		margin: var(--margin-global);
	}
	p {
		margin-top: 20px;
	}

	strong, a {
		color: var(--color-accent-dark);
		text-decoration: none;
		font-weight: bold;
	}
	h3 {
		margin-top: 20px;
	}
	ul {
		margin: 20px;
	}

	.link-list {
		display: flex;
		flex-direction: column;
	}
	.link-list a {
		padding: 20px 10px;
	}
	.link-list a:hover {
		background-color: var(--color-background-middark);
		color: var(--color-foreground-dark)
	}
	.content {
		max-width: var(--max-content-width);
	}
</style>