---
import MainLayout from "../layouts/MainLayout.astro";
import Forecast from "../components/charts/Forecast.astro";
---

<MainLayout title="Quick WeatherReport">
	<div class="global-content-title">
		<h1>Developer info</h1>
	</div>
	<div class="dashboards">
		<div class="forecast">
            
		</div>
	</div>
</MainLayout>