---
import MainLayout from "../layouts/MainLayout.astro";
import Forecast from "../components/charts/Forecast.astro";
---

<MainLayout title="Quick WeatherReport">
	<div class="global-content-title">
		<h1 id="Title">Error: JS script not loaded</h1> 
		<!-- Replaced via javascript for testing purposes -->
		<h2>Weather report for your location</h2>
		<p>Today, on your location based by ip</p>
	</div>
	<div class="global-dashboards">
		<div class="forecast">
			<Forecast />
		</div>
	</div>
</MainLayout>
