@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

:root {
    /* Color theme */
    --color-foreground-normal: rgb(25, 25, 25);
    --color-foreground-dark: white;
    --color-background-normal: white;
    --color-background-dark: rgb(25, 25, 25);
    --color-background-middark: rgb(50, 50, 50);
    --color-accent-normal: rgb(240, 200, 0);
    --color-accent-dark: rgb(175, 25, 5);

    --margin-global: 20px;

    --max-content-width: 700px;
}

.global-content-title {
    margin: var(--margin-global);
}

.global-hidden {
    display: none;
}

@media (max-width: 650px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
}