---
// Styles
import "../assets/styles/global.css"; // Global styles across the site

// Components
import NavBar from "../components/NavBar.astro"; // Main Nav Bar
// Scripts
import "../assets/scripts/local.js";
// Properties for this layout
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script is:inline src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
		<link rel="manifest" href="manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<!-- WebApp capable -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-title" content="Quick Weather" />
		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta name="msapplication-TileImage" content="ms-icon-144x144.png" />
		<meta name="theme-color" content="#ffffff" />

		<title>{title}</title>
	</head>
	<body>
		<div class="main-layout">
			<NavBar class="nav-pane" title={title} />
			<div class="content-pane"><slot /></div>
		</div>
	</body>
</html>

<script src="../assets/scripts/client.js">
	// Client Side scripts on this file.
</script>

<style>
	.main-layout {
		display: flex;
		flex-direction: row;
		min-height: 100vh;
	}
	.nav-pane {
		width: 300px;
	}
	.content-pane {
		width: calc(100vw - 300px);
	}
	@media (max-width: 650px) {
		.main-layout {
			flex-direction: column;
		}
		.nav-pane {
			width: 100%;
		}
		.content-pane {
			width: 100%;
		}
	}
</style>
