---

// Styles
import "../assets/styles/global.css"; // Global styles across the site

// Components
import NavBar from "../components/NavBar.astro"; // Main Nav Bar
// Scripts
import "../assets/scripts/local.js";
// Properties for this layout
const { title } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script is:inline src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<title>{title}</title>
	</head>
	<body>
        <div class="main-layout">
            <NavBar class="nav-pane" title={title}/>
		    <div class="content-pane"><slot /></div>
        </div>
	</body>
</html>

<script src="../assets/scripts/client.js">
	// Client Side scripts on this file.
</script>

<style>
	.main-layout {
		display: flex;
        flex-direction: row;
		min-height: 100vh;
    }
	.nav-pane {
		width: 300px;
	}
	.content-pane {
		width: calc(100vw - 300px);
	}
</style>